{sub_dirs, ["rel"]}.

{deps, [
  {erlsha2, ".*",
    {git, "https://github.com/vinoski/erlsha2.git", {tag, "2.1"}}},
  {thrift, ".*",
    {git, "https://github.com/radekg/thrift-erlang.git", "master"}},
  {uuid, ".*",
    {git, "https://github.com/radekg/uuid.git", "master"}},
  {cowboy, ".*",
    {git, "https://github.com/extend/cowboy.git", "HEAD"}},
  {lager, ".*",
    {git, "https://github.com/basho/lager.git", {tag, "2.0.3"}}},
  {erflux, ".*",
    {git, "git://github.com/radekg/erflux.git", {tag, "version-1.0.1"}}}
]}.

{require_otp_vsn, "17"}.

{erl_opts, [{i, "./include"}]}.