{sub_dirs, ["rel"]}.

% Lager pulled in by gossiperl-core
{deps, [
  {erlsha2, ".*",
    {git, "https://github.com/vinoski/erlsha2.git", {tag, "2.2.1"}}},
  {thrift, ".*",
    {git, "https://github.com/gossiperl/thrift-erlang.git", "master"}},
  {uuid, ".*",
    {git, "https://github.com/gossiperl/uuid.git", "master"}},
  {cowboy, ".*",
    {git, "https://github.com/extend/cowboy.git", "HEAD"}},
  {gossiperl_core, ".*",
    {git, "https://github.com/gossiperl/gossiperl-core-erlang.git", {tag, "1.1.1"}}},
  {erflux, ".*",
    {git, "git://github.com/gossiperl/erflux.git", {tag, "version-1.0.1"}}},
  {hackney, ".*",
    {git, "git://github.com/benoitc/hackney.git", {tag, "1.0.5"}}}
]}.

{require_otp_vsn, "17"}.

{erl_opts, [{i, "./include"}]}.

% EUnit settings:
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, false}.
{cover_print_enabled, false}.